body{
    background-color:rgb(209, 168, 103);

}
h1{
    text-align: center;
    font-size:60px;
    text-decoration:inherit;
    color: #ccff99;
    
}
h2, h3,{
    font-family:monospace;
    text-decoration:underline;
 }
 .triangle{
    float: left;
}
p{
    float:right;
    margin-left: 5PX;
    font-size: 18px;
    color:blue;
}
img{
    width: 180px;
    height: 180px;
    }